{% extends 'base.html' %}


{% block title %}HAPPY BIRTHDAY ABO{% endblock %}

{% block content %}
<div class="container" >



  <div class="card" >
    <div class="front" style="background-color: #80B3FF;">
        <p class="large">AFTER ALL</p>
    </div>
    <div class="back" style="background-color: #80B3FF;">
     <div >
         <img class="card-img" src="/static/images/IMG_0592.JPG">
        <div class="card-img-overlay">
    <h1>HAPPY</h1>

  </div>
      </div>
    </div>
  </div>

    <div class="card" >
    <div class="front" style="background-color: #80B3FF;">
        <p class="large">THIS TIME?</p>
    </div>
    <div class="back" style="background-color: #80B3FF;">
     <div >
         <img class="card-img" src="/static/images/IMG_0474.JPG">
        <div class="card-img-overlay">
    <h3>BIRTHDAY</h3>

  </div>
      </div>
    </div>
  </div>

    <div class="card" >
    <div class="front" style="background-color: #80B3FF;">
        <p class="large">ALWAYS</p>
    </div>
    <div class="back" style="background-color: #80B3FF;">
     <div >
         <img class="card-img" src="/static/images/IMG_0693.JPG">
        <div class="card-img-overlay">
    <h1 class="abo">ABO</h1>

  </div>
      </div>
    </div>
  </div>

<div class="card" >
    <div class="front" style="background-color: #80B3FF;">
        <p class="large">FRIENDS</p>
    </div>
    <div class="back" style="background-color: #80B3FF;">
     <div >
         <img class="card-img-top" src="static/images/photo1697086283.jpeg" width="">

        <div class="card-img-overlay">
            


  </div>
      </div>
    </div>
  </div>

      </div>
    </div>
  </div>

</div>


{% endblock %}
